body {
background-color:#02A676;
color:#003840;
}

a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 160px, 15em;
    
    letter-spacing: 5px;
    text-decoration: darkcyan;
    color: #13492b;
}
p { 
    color:midnightblue;
}

#container {
    background-color: skyblue;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
#header { 
    background-color:  	#007369;
    width: 800px;
    color: #13492b;
    }
#content {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 160px, 15em;
    
    letter-spacing: 5px;
    text-decoration: darkcyan;
    color: #13492b;
    padding: 10px; 
}

#nav {
    width: 180px;
    float: left;
}

#p { color: #66CCff;
}
#footer {
    background-color: #005A5B;
}
