body {
background-color: #8eb88c;
}
a {
    text-decoration: darkcyan;
    color: midnightblue;
}
#container {
    background-color: skyblue;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
#header { 
    background-color:  	#708090;
    width: 800px;
    color: #13492b;
    }
#content {padding: 10px; 
}

#nav {
    width: 180px;
    float: left;
}

#p { color: #66CCff;
}
#footer {
    background-color: white;
}
